In [426]:
#Importing Laliga.csv and Printing the head
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data
import pandas as pd
#Read the data and stored it in df = Laliga
Laliga = pd.read_csv("C:\\Users\\anshumans\\Downloads\\Laliga.csv")

In [427]:
#Question-1
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
#To check if any entry with - before replacement
print((Laliga == '-').sum())

Pos               0
Team              0
Seasons           0
Points            1
GamesPlayed       1
GamesWon          1
GamesDrawn        1
GamesLost         1
GoalsFor          1
GoalsAgainst      1
Champion         52
Runner-up        48
Third            43
Fourth           39
Fifth            36
Sixth            33
T                28
Debut             0
Since/LastApp     0
BestPosition      0
dtype: int64

In [428]:
#To replace the existing "-" with 0 and assing it back to the Laliga data frame
Laliga = Laliga.replace("-", 0)
print(Laliga)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      0           0        0          0

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
5        887     3680         3373        1         4     4      5    12
6       1070     3609         3889        0         0     4      5     2
7        861     3228         3230        2         3     2      5     4
8        766     2683         2847        0         1     4      5     4
9        682     2159         2492        1         0     2      3     4
10       575     2052         2188        1         5     4      1     0
11       723     2278         2624        0         0     0      2     4
12       619     1767         2180        0         0     0      1     1
13       639     1843         2368        0         1     1      2     0
14       629     1753         2152        0         1     1      2     2
15       565     1500         1834        0         0     0      2     2
16       535     1421         1763        0         0     0      1     0
17       492     1642         1951        0         0     3      2     2
18       399     1182         1371        0         0     2      0     2
19       487     1347         1746        0         1     1      1     1
20       208      892          789        0         1     1      2     3
21       349      819         1157        0         0     0      0     0
22       305      760         1088        0         0     0      0     0
23       295      750         1022        0         0     0      0     1
24       197      520          633        0         0     0      0     0
25       295      716         1050        0         0     0      0     1
26       211      619          744        0         0     0      0     2
27       298      607          992        0         0     0      0     0
28       174      458          623        0         0     0      0     0
29       194      430          632        0         0     0      0     0
..       ...      ...          ...      ...       ...   ...    ...   ...
31       202      492          720        0         0     0      1     1
32       217      393          662        0         0     0      0     0
33       158      291          489        0         0     0      0     0
34       152      419          588        0         0     0      1     2
35       118      320          410        0         0     0      0     0
36       110      244          366        0         0     0      0     0
37       137      285          430        0         0     0      0     1
38        63      199          241        0         0     0      0     0
39        90      202          296        0         0     0      0     0
40        95      216          310        0         0     0      0     0
41        83      165          221        0         0     0      0     0
42        78      155          253        0         0     0      0     0
43        52      139          167        0         0     0      0     0
44        66      227          308        0         0     1      0     3
45        44      101          139        0         0     0      0     0
46        66      181          295        0         0     0      0     0
47        37       62          117        0         0     0      0     0
48        37       70          115        0         0     0      0     0
49        62      145          252        0         0     0      0     0
50        48      121          183        0         0     0      0     0
51        37      153          184        0         0     0      0     0
52        33       71          116        0         0     0      0     0
53        30       97          131        0         0     0      0     0
54        41       70          182        0         0     0      0     0
55        19       36           55        0         0     0      0     0
56        20       38           66        0         0     0      0     0
57        15       37           57        0         0     0      0     0
58        18       51           85        0         0     0      0     0
59        21       34           65        0         0     0      0     0
60         0        0            0        0         0     0      0     0

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
5      6  32  1934-35       2001-02             1
6      5  16     1929       1994-95             3
7      3  19     1929       2010-11             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
13     1   5     1929       2011-12             2
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
20     2   9  1998-99       2013-14             2
21     2   2  1941-42       2016-17             6
22     0   0  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
24     1   1  2004-05       2015-16             6
25     4   5  1935-36       2010-11             5
26     0   2  1961-62       2009-10             5
27     0   0  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
..   ...  ..      ...           ...           ...
31     0   2  1943-44       1987-88             4
32     0   0  1977-78       2005-06            12
33     0   0  1987-88       1996-97             7
34     0   3  1941-42       1990-91             4
35     0   0  1991-92       2004-05             7
36     0   0  2007-08       2014-15             8
37     0   1  1962-63       2014-15             5
38     0   0  1994-95       1997-98            10
39     0   0  1978-79       2008-09             8
40     0   0  1971-72       1979-80            12
41     0   0  1963-64       1969-70             7
42     0   0  1999-00       2008-09            17
43     0   0  2014-15       2014-15            10
44     0   4     1929       1934-35             3
45     0   0  1990-91       1992-93             9
46     0   0  1947-48       2006-07             7
47     0   0  1996-97       1998-99            17
48     0   0  1995-96       1997-98            19
49     0   0  1945-46       1950-51            10
50     0   0  1953-54       1957-58            14
51     1   1     1929       1931-32             6
52     0   0  1979-80       1980-81            10
53     0   0     1929       1930-31             8
54     0   0  1950-51       1993-94            16
55     0   0  2016-17       2016-17            17
56     0   0  2009-10       2009-10            20
57     0   0  1956-57       1956-57            16
58     0   0  1951-52       1951-52            16
59     0   0  1955-56       1955-56            15
60     0   0  2017-18       2017-18             9

[61 rows x 20 columns]

In [429]:
#To check if any entry with - after replacement
print((Laliga == '-').sum())

Pos              0
Team             0
Seasons          0
Points           0
GamesPlayed      0
GamesWon         0
GamesDrawn       0
GamesLost        0
GoalsFor         0
GoalsAgainst     0
Champion         0
Runner-up        0
Third            0
Fourth           0
Fifth            0
Sixth            0
T                0
Debut            0
Since/LastApp    0
BestPosition     0
dtype: int64

In [430]:
#Question 2
#Print all the teams which have started playing between 1930-1980.
debutYear = Laliga["Debut"].str.split("-", n = 1, expand = True)
#Added the DebutYear into the Laliga df
Laliga["DebutYear"]= debutYear[0]
#To validate if Debut Year has been added to Laliga
print(Laliga)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      0           0        0          0

   GamesLost GoalsFor GoalsAgainst    ...     Runner-up Third Fourth Fifth  \
0        563     5947         3140    ...            23     8      8     3
1        608     5900         3114    ...            25    12     12     4
2        775     4534         3309    ...             8    16      9     7
3        861     4398         3469    ...             6    10     11    10
4        920     4631         3700    ...             7    10      5     8
5        887     3680         3373    ...             4     4      5    12
6       1070     3609         3889    ...             0     4      5     2
7        861     3228         3230    ...             3     2      5     4
8        766     2683         2847    ...             1     4      5     4
9        682     2159         2492    ...             0     2      3     4
10       575     2052         2188    ...             5     4      1     0
11       723     2278         2624    ...             0     0      2     4
12       619     1767         2180    ...             0     0      1     1
13       639     1843         2368    ...             1     1      2     0
14       629     1753         2152    ...             1     1      2     2
15       565     1500         1834    ...             0     0      2     2
16       535     1421         1763    ...             0     0      1     0
17       492     1642         1951    ...             0     3      2     2
18       399     1182         1371    ...             0     2      0     2
19       487     1347         1746    ...             1     1      1     1
20       208      892          789    ...             1     1      2     3
21       349      819         1157    ...             0     0      0     0
22       305      760         1088    ...             0     0      0     0
23       295      750         1022    ...             0     0      0     1
24       197      520          633    ...             0     0      0     0
25       295      716         1050    ...             0     0      0     1
26       211      619          744    ...             0     0      0     2
27       298      607          992    ...             0     0      0     0
28       174      458          623    ...             0     0      0     0
29       194      430          632    ...             0     0      0     0
..       ...      ...          ...    ...           ...   ...    ...   ...
31       202      492          720    ...             0     0      1     1
32       217      393          662    ...             0     0      0     0
33       158      291          489    ...             0     0      0     0
34       152      419          588    ...             0     0      1     2
35       118      320          410    ...             0     0      0     0
36       110      244          366    ...             0     0      0     0
37       137      285          430    ...             0     0      0     1
38        63      199          241    ...             0     0      0     0
39        90      202          296    ...             0     0      0     0
40        95      216          310    ...             0     0      0     0
41        83      165          221    ...             0     0      0     0
42        78      155          253    ...             0     0      0     0
43        52      139          167    ...             0     0      0     0
44        66      227          308    ...             0     1      0     3
45        44      101          139    ...             0     0      0     0
46        66      181          295    ...             0     0      0     0
47        37       62          117    ...             0     0      0     0
48        37       70          115    ...             0     0      0     0
49        62      145          252    ...             0     0      0     0
50        48      121          183    ...             0     0      0     0
51        37      153          184    ...             0     0      0     0
52        33       71          116    ...             0     0      0     0
53        30       97          131    ...             0     0      0     0
54        41       70          182    ...             0     0      0     0
55        19       36           55    ...             0     0      0     0
56        20       38           66    ...             0     0      0     0
57        15       37           57    ...             0     0      0     0
58        18       51           85    ...             0     0      0     0
59        21       34           65    ...             0     0      0     0
60         0        0            0    ...             0     0      0     0

   Sixth   T    Debut Since/LastApp BestPosition  DebutYear
0      4  79     1929          1929            1       1929
1      6  83     1929          1929            1       1929
2      6  56     1929       2002-03            1       1929
3      7  50  1931-32       1987-88            1       1931
4     10  49     1929          1929            1       1929
5      6  32  1934-35       2001-02            1       1934
6      5  16     1929       1994-95            3       1929
7      3  19     1929       2010-11            1       1929
8      4  18  1939-40       2012-13            2       1939
9      4  14  1932-33       2015-16            1       1932
10     1  12  1941-42       2014-15            1       1941
11     5  11  1939-40       2012-13            4       1939
12     1   3  1948-49       2013-14            4       1948
13     1   5     1929       2011-12            2       1929
14     1   7  1944-45       2015-16            2       1944
15     2   6  1935-36       2016-17            4       1935
16     1   2  1949-50       2008-09            4       1949
17     4  11  1933-34       2000-01            3       1933
18     1   5  1960-61       2012-13            3       1960
19     1   5  1951-52       2015-16            2       1951
20     2   9  1998-99       2013-14            2       1998
21     2   2  1941-42       2016-17            6       1941
22     0   0  1977-78       2015-16            8       1977
23     1   2  1959-60       2014-15            5       1959
24     1   1  2004-05       2015-16            6       2004
25     4   5  1935-36       2010-11            5       1935
26     0   2  1961-62       2009-10            5       1961
27     0   0  1940-41       2007-08           11       1940
28     1   1  1930-31       2016-17            6       1930
29     1   1  1963-64       2015-16            6       1963
..   ...  ..      ...           ...          ...        ...
31     0   2  1943-44       1987-88            4       1943
32     0   0  1977-78       2005-06           12       1977
33     0   0  1987-88       1996-97            7       1987
34     0   3  1941-42       1990-91            4       1941
35     0   0  1991-92       2004-05            7       1991
36     0   0  2007-08       2014-15            8       2007
37     0   1  1962-63       2014-15            5       1962
38     0   0  1994-95       1997-98           10       1994
39     0   0  1978-79       2008-09            8       1978
40     0   0  1971-72       1979-80           12       1971
41     0   0  1963-64       1969-70            7       1963
42     0   0  1999-00       2008-09           17       1999
43     0   0  2014-15       2014-15           10       2014
44     0   4     1929       1934-35            3       1929
45     0   0  1990-91       1992-93            9       1990
46     0   0  1947-48       2006-07            7       1947
47     0   0  1996-97       1998-99           17       1996
48     0   0  1995-96       1997-98           19       1995
49     0   0  1945-46       1950-51           10       1945
50     0   0  1953-54       1957-58           14       1953
51     1   1     1929       1931-32            6       1929
52     0   0  1979-80       1980-81           10       1979
53     0   0     1929       1930-31            8       1929
54     0   0  1950-51       1993-94           16       1950
55     0   0  2016-17       2016-17           17       2016
56     0   0  2009-10       2009-10           20       2009
57     0   0  1956-57       1956-57           16       1956
58     0   0  1951-52       1951-52           16       1951
59     0   0  1955-56       1955-56           15       1955
60     0   0  2017-18       2017-18            9       2017

[61 rows x 21 columns]

In [431]:
#Printing the Team which has debut year between 1930-1980 both inclusive
print(Laliga.Team[Laliga['DebutYear'].astype(str).astype(int).between(1930, 1980, inclusive=True)])

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [432]:
#Question 3
#Print the list of teams which came Top 5 in terms of points
#Need to convert object type to int before comparing
#Printing the Top 5 team
Laliga.Team[Laliga['Points'].astype(str).astype(int).isin(Laliga['Points'].astype(str).astype(int).nlargest(5))]

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [433]:
#Question 4
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal 

def Goal_diff_count(Laliga):
    Laliga['goalDifference'] = [int(a)-int(b) for a,b in zip(list(Laliga['GoalsFor']),list(Laliga['GoalsAgainst']))]
    return Laliga

    
Laliga = Goal_diff_count(Laliga)
#Adding print to validate the Tema and its goal difference
print(Laliga[['Team','goalDifference']])

                   Team  goalDifference
0           Real Madrid            2807
1             Barcelona            2786
2       Atletico Madrid            1225
3              Valencia             929
4       Athletic Bilbao             931
5               Sevilla             307
6              Espanyol            -280
7         Real Sociedad              -2
8              Zaragoza            -164
9            Real Betis            -333
10  Deportivo La Coruna            -136
11           Celta Vigo            -346
12           Valladolid            -413
13     Racing Santander            -525
14       Sporting Gijon            -399
15              Osasuna            -334
16               Malaga            -342
17               Oviedo            -309
18             Mallorca            -189
19           Las Palmas            -399
20           Villarreal             103
21              Granada            -338
22       Rayo Vallecano            -328
23                Elche            -272
24               Getafe            -113
25             Hercules            -334
26             Tenerife            -125
27               Murcia            -385
28               Alaves            -165
29              Levante            -202
..                  ...             ...
31             Sabadell            -228
32                Cadiz            -269
33             Logrones            -198
34            Castellon            -169
35             Albacete             -90
36              Almeria            -122
37              Cordoba            -145
38           Compostela             -42
39           Recreativo             -94
40            Burgos CF             -94
41           Pontevedra             -56
42             Numancia             -98
43                Eibar             -28
44               Arenas             -81
45          Real Burgos             -38
46            Gimnastic            -114
47          Extremadura             -55
48               Merida             -45
49             Alcoyano            -107
50                 Jaen             -62
51           Real Union             -31
52           AD Almeria             -45
53               Europa             -34
54               Lleida            -112
55              Leganes             -19
56                Xerez             -28
57               Condal             -20
58      Atletico Tetuan             -34
59     Cultural Leonesa             -31
60               Girona               0

[61 rows x 2 columns]

In [434]:
#Printing the top 5 team with largest Goal difference
Laliga.Team[Laliga['goalDifference'].astype(str).astype(int).isin(Laliga['goalDifference'].astype(str).astype(int).nlargest(5))]

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [435]:
#Printing the top 5 team with smallest Goal difference
Laliga.Team[Laliga['goalDifference'].astype(str).astype(int).isin(Laliga['goalDifference'].astype(str).astype(int).nsmallest(5))]

12          Valladolid
13    Racing Santander
14      Sporting Gijon
19          Las Palmas
27              Murcia
Name: Team, dtype: object

In [436]:
#Question  5
#Create a new column with name “Winning Percent” and append it to the data set

def Win_Perc_count(Laliga):
    winPercentage = []
    for (gamesWon,gamesPlayed) in zip (list(Laliga['GamesWon']) , list(Laliga['GamesPlayed'])):
        try:
            winPercentage.append((float(gamesWon) / float(gamesPlayed)) * 100) 
        except:
            winPercentage.append(0)
    return winPercentage
    
    
Laliga['Winning percentage'] = Win_Perc_count(Laliga)
print(Laliga[['Team','Winning percentage']])

                   Team  Winning percentage
0           Real Madrid           59.630702
1             Barcelona           57.241130
2       Atletico Madrid           47.475134
3              Valencia           44.557057
4       Athletic Bilbao           43.772629
5               Sevilla           41.112957
6              Espanyol           36.100533
7         Real Sociedad           37.532580
8              Zaragoza           35.146022
9            Real Betis           35.069444
10  Deportivo La Coruna           36.797386
11           Celta Vigo           34.511190
12           Valladolid           31.582538
13     Racing Santander           31.722689
14       Sporting Gijon           32.304527
15              Osasuna           32.321700
16               Malaga           31.075697
17               Oviedo           34.228188
18             Mallorca           33.704453
19           Las Palmas           33.485401
20           Villarreal           41.176471
21              Granada           29.380054
22       Rayo Vallecano           28.987730
23                Elche           29.941003
24               Getafe           32.236842
25             Hercules           29.299363
26             Tenerife           31.376518
27               Murcia           24.744027
28               Alaves           32.894737
29              Levante           28.109453
..                  ...                 ...
31             Sabadell           30.281690
32                Cadiz           23.214286
33             Logrones           27.745665
34            Castellon           30.838323
35             Albacete           28.148148
36              Almeria           27.192982
37              Cordoba           29.078014
38           Compostela           32.500000
39           Recreativo           26.881720
40            Burgos CF           28.921569
41           Pontevedra           29.444444
42             Numancia           24.342105
43                Eibar           30.701754
44               Arenas           33.076923
45          Real Burgos           22.807018
46            Gimnastic           29.310345
47          Extremadura           25.000000
48               Merida           23.750000
49             Alcoyano           27.777778
50                 Jaen           32.222222
51           Real Union           29.166667
52           AD Almeria           25.000000
53               Europa           33.333333
54               Lleida           19.117647
55              Leganes           21.052632
56                Xerez           21.052632
57               Condal           23.333333
58      Atletico Tetuan           23.333333
59     Cultural Leonesa           16.666667
60               Girona            0.000000

[61 rows x 2 columns]

In [437]:
#Printing Top 5 Wining prcentage Team
Laliga.Team[Laliga['Winning percentage'].astype(str).astype(float).isin(Laliga['Winning percentage'].astype(str).astype(float).nlargest(5))]

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [438]:
#Question 6
#Group teams based on their “Best position” and print the sum of their points for all positions 
print(Laliga['Points'].astype(str).astype(int).groupby(Laliga['BestPosition']).sum())

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32